# Eventalign_collapse usage

## Bash command line usage

#### From an existing nanopolish eventalign output to a file

In [1]:
%%bash
source ~/.bashrc && workon Nanopolish_0.10.1

NanopolishComp Eventalign_collapse -i ./data/nanopolish_reads.tsv -o ./output/nanopolish_collapsed_reads.tsv
head ./output/nanopolish_collapsed_reads.tsv
head ./output/nanopolish_collapsed_reads.tsv.idx

#0	YGR240C
ref_pos	ref_kmer	n_events	NNNNN_events	mismatching_events
1656	GAAAA	1	0	0
1657	AAAAC	1	0	0
1658	AAACA	1	0	0
1659	AACAA	1	0	0
1660	ACAAA	1	0	0
1661	CAAAG	1	0	0
1662	AAAGA	1	0	0
1663	AAGAT	1	0	0
ref_id	ref_start	ref_end	read_id	kmers	NNNNN_kmers	mismatching_kmers	missing_kmers	byte_offset	byte_len
YGR240C	1656	2960	0	1250	35	0	54	0	21325
YCR030C	1578	2576	1	971	23	0	27	21326	16579
YHR174W	0	839	2	825	15	0	14	37906	13169
YHR174W	218	1309	3	1028	36	0	63	51076	16818
YHR174W	462	1309	4	818	18	0	29	67895	13465
YLR441C	173	764	5	554	20	0	37	81361	8932
YGR192C	3	995	7	946	31	0	50	90294	15115
YGR192C	1	989	6	927	37	0	61	105410	14810
YDR500C	9	252	8	231	7	0	14	120221	3679

[Eventalign_collapse] total reads: 21 [188.82 reads/s]

#### From standard input to a file

In [2]:
%%bash
source ~/.bashrc && workon Nanopolish_0.10.1

cat ./data/nanopolish_reads_index.tsv | NanopolishComp Eventalign_collapse -o ./output/nanopolish_collapsed_reads.tsv --verbose
head ./output/nanopolish_collapsed_reads.tsv
head ./output/nanopolish_collapsed_reads.tsv.idx

#0	YGR240C
ref_pos	ref_kmer	n_events	NNNNN_events	mismatching_events	start_idx	end_idx
1656	GAAAA	1	0	0	63446	63454
1657	AAAAC	1	0	0	63423	63446
1658	AAACA	1	0	0	63411	63423
1659	AACAA	1	0	0	63398	63411
1660	ACAAA	1	0	0	63383	63398
1661	CAAAG	1	0	0	63366	63383
1662	AAAGA	1	0	0	63337	63366
1663	AAGAT	1	0	0	63328	63337
ref_id	ref_start	ref_end	read_id	kmers	NNNNN_kmers	mismatching_kmers	missing_kmers	byte_offset	byte_len
YGR240C	1656	2960	0	1250	35	0	54	0	36343
YCR030C	1578	2576	1	971	23	0	27	36344	28249
YHR174W	0	839	2	825	15	0	14	64594	22533
YHR174W	218	1309	3	1028	36	0	63	87128	29172
YHR174W	462	1309	4	818	18	0	29	116301	23299
YLR441C	173	764	5	554	20	0	37	139601	15598
YGR192C	1	989	6	927	37	0	61	155200	25951
YDR500C	9	252	8	231	7	0	14	181152	6469
YDR224C	0	389	9	376	8	0	13	187622	10513

Collapse file by read_id/ref_id
21 reads [00:00, 166.74 reads/s]
[Eventalign_collapse] total reads: 21 [162.97 reads/s]

#### On the fly, from nanopolish eventalign to a file

In [3]:
%%bash
source ~/.bashrc && workon Nanopolish_0.10.1

nanopolish eventalign -t 4 --samples --scale-events --print-read-name --reads ./data/reads.fastq --bam ./data/aligned_reads.bam --genome ./data/reference.fa | NanopolishComp Eventalign_collapse  -o ./output/nanopolish_collapsed_reads.tsv
head ./output/nanopolish_collapsed_reads.tsv
head ./output/nanopolish_collapsed_reads.tsv.idx

#3784283c-47cc-48ac-8d7b-7efd32123b56	YHR174W
ref_pos	ref_kmer	n_events	NNNNN_events	mismatching_events	mean	median	n_signals
0	ATGGC	1	0	0	86.389305	85.6797	33
1	TGGCT	4	0	0	104.781815	106.189	98
2	GGCTG	1	0	0	96.557655	97.75245	14
3	GCTGT	5	0	0	81.69343	80.2978	116
4	CTGTC	1	0	0	102.44871	103.571	7
5	TGTCT	4	0	0	107.04158	107.6435	58
6	GTCTC	2	0	0	76.83719	76.8796	24
7	TCTCT	1	0	0	80.04846	80.0069	7
ref_id	ref_start	ref_end	read_id	kmers	NNNNN_kmers	mismatching_kmers	missing_kmers	byte_offset	byte_len
YHR174W	0	839	3784283c-47cc-48ac-8d7b-7efd32123b56	825	15	0	14	0	30319
YHR174W	218	1309	3e81c32a-f2ee-4719-a88d-e0affe93d26f	1028	36	0	63	30320	37948
YGR240C	1656	2960	97205d42-93ac-4c99-af78-e553f7d1ff83	1250	35	0	54	68269	47238
YCR030C	1578	2576	9a1c5296-2ab1-4abd-8d50-e059754cf332	971	23	0	27	115508	36782
YLR441C	173	764	6af04302-04c8-4d8d-8e87-aa69178b3f24	554	20	0	37	152291	20554
YHR174W	462	1309	0ef36fa0-7c3f-47f5-8410-027f50724701	818	18	0	29	172846	30619
YGR192C	1	989	4e21bf07-e2df-42d8-b347-59ef2c0618ea	927	37	0	61	203466	34026
YDR500C	9	252	e6a8e4d0-7b3c-471a-be26-fa7857d12663	231	7	0	14	237493	8512
YDR224C	0	389	f8325de9-a77e-4616-a4a8-69ecf32e1688	376	8	0	13	246006	13832

[post-run summary] total reads: 21, unparseable: 0, qc fail: 0, could not calibrate: 0, no alignment: 0, bad fast5: 0
[Eventalign_collapse] total reads: 21 [16.79 reads/s]

## Python API usage

#### Import the package

In [4]:
from NanopolishComp.Eventalign_collapse import Eventalign_collapse

#### Example with minimal file

In [5]:
input_fn = "./data/nanopolish_reads.tsv"
output_fn = "./output/collapsed_nanopolish.tsv"
index_fn = "./output/collapsed_nanopolish.tsv.idx"

Eventalign_collapse (input_fn=input_fn, output_fn=output_fn, threads=6, verbose=True)

print ("Collapsed eventalign file")
! head {output_fn} -n 10

print ("Index file")
! head {index_fn} -n 10

Collapse file by read_id/ref_id
21 reads [00:00, 121.69 reads/s]
[Eventalign_collapse] total reads: 21 [118.71 reads/s]

Collapsed eventalign file
#0	YGR240C
ref_pos	ref_kmer	n_events	NNNNN_events	mismatching_events
1656	GAAAA	1	0	0
1657	AAAAC	1	0	0
1658	AAACA	1	0	0
1659	AACAA	1	0	0
1660	ACAAA	1	0	0
1661	CAAAG	1	0	0
1662	AAAGA	1	0	0
1663	AAGAT	1	0	0
Index file
ref_id	ref_start	ref_end	read_id	kmers	NNNNN_kmers	mismatching_kmers	missing_kmers	byte_offset	byte_len
YGR240C	1656	2960	0	1250	35	0	54	0	21325
YCR030C	1578	2576	1	971	23	0	27	21326	16579
YHR174W	0	839	2	825	15	0	14	37906	13169
YHR174W	462	1309	4	818	18	0	29	51076	13465
YHR174W	218	1309	3	1028	36	0	63	64542	16818
YLR441C	173	764	5	554	20	0	37	81361	8932
YGR192C	1	989	6	927	37	0	61	90294	14810
YDR500C	9	252	8	231	7	0	14	105105	3679
YGR192C	3	995	7	946	31	0	50	108785	15115

#### Example with indexes

In [6]:
input_fn = "./data/nanopolish_reads_index.tsv"
output_fn = "./output/collapsed_nanopolish_index.tsv"
index_fn = "./output/collapsed_nanopolish_index.tsv.idx"

Eventalign_collapse (input_fn=input_fn, output_fn=output_fn, verbose=True, threads=6)

print ("\nCollapsed eventalign file")
! head {output_fn} -n 10

print ("\nIndex file")
! head {index_fn} -n 10

Collapse file by read_id/ref_id
21 reads [00:00, 118.27 reads/s]
[Eventalign_collapse] total reads: 21 [106.86 reads/s]

Collapsed eventalign file
#0	YGR240C
ref_pos	ref_kmer	n_events	NNNNN_events	mismatching_events	start_idx	end_idx
1656	GAAAA	1	0	0	63446	63454
1657	AAAAC	1	0	0	63423	63446
1658	AAACA	1	0	0	63411	63423
1659	AACAA	1	0	0	63398	63411
1660	ACAAA	1	0	0	63383	63398
1661	CAAAG	1	0	0	63366	63383
1662	AAAGA	1	0	0	63337	63366
1663	AAGAT	1	0	0	63328	63337

Index file
ref_id	ref_start	ref_end	read_id	kmers	NNNNN_kmers	mismatching_kmers	missing_kmers	byte_offset	byte_len
YGR240C	1656	2960	0	1250	35	0	54	0	36343
YCR030C	1578	2576	1	971	23	0	27	36344	28249
YHR174W	0	839	2	825	15	0	14	64594	22533
YHR174W	218	1309	3	1028	36	0	63	87128	29172
YHR174W	462	1309	4	818	18	0	29	116301	23299
YLR441C	173	764	5	554	20	0	37	139601	15598
YGR192C	1	989	6	927	37	0	61	155200	25951
YDR500C	9	252	8	231	7	0	14	181152	6469
YGR192C	3	995	7	946	31	0	50	187622	26485

#### Example including samples

In [7]:
input_fn = "./data/nanopolish_reads_samples.tsv"
output_fn = "./output/collapsed_nanopolish_samples.tsv"
index_fn = "./output/collapsed_nanopolish_samples.tsv.idx"

Eventalign_collapse (input_fn=input_fn, output_fn=output_fn, verbose=True, threads=6, stat_fields=["mean", "std", "median", "mad", "n_signals"])

print ("\nCollapsed eventalign file")
! head {output_fn} -n 10

print ("\nIndex file")
! head {index_fn} -n 10

Collapse file by read_id/ref_id
21 reads [00:01, 15.44 reads/s]
[Eventalign_collapse] total reads: 21 [15.12 reads/s]

Collapsed eventalign file
#1	YCR030C
ref_pos	ref_kmer	n_events	NNNNN_events	mismatching_events	mean	std	median	mad	n_signals
1578	CCACC	1	0	0	70.063416	2.5937378	70.6773	1.4680023	11
1579	CACCC	15	0	0	74.59469	3.2702603	75.0815	2.4958038	294
1580	ACCCT	1	0	0	67.237854	1.7063779	67.888	2.2021027	7
1581	CCCTC	1	0	0	72.0615	1.1475614	72.5858	1.0277023	7
1582	CCTCA	5	0	0	73.5635	2.3691814	73.7603	1.6148987	47
1583	CTCAA	1	0	0	77.589485	1.5072672	78.164505	0.73399353	12
1584	TCAAG	1	0	0	83.52072	3.1505558	84.0368	2.3488998	33
1585	CAAGG	1	0	0	105.23971	3.6324797	104.296	1.762001	7

Index file
ref_id	ref_start	ref_end	read_id	kmers	NNNNN_kmers	mismatching_kmers	missing_kmers	byte_offset	byte_len
YCR030C	1578	2576	1	971	23	0	27	0	55739
YHR174W	0	839	2	825	15	0	14	55740	46331
YHR174W	218	1309	3	1028	36	0	63	102072	57924
YGR240C	1656	2960	0	1250	35	0	54	159997	71640
YLR441C	173	764	5	554	20	0	37	231638	31362
YHR174W	462	1309	4	818	18	0	29	263001	46483
YDR500C	9	252	8	231	7	0	14	309485	12991
YGR192C	1	989	6	927	37	0	61	322477	52066
YDR224C	0	389	9	376	8	0	13	374544	21162

#### Example including samples and writing samples values in ouput file

In [8]:
input_fn = "./data/nanopolish_reads_samples.tsv"
output_fn = "./output/collapsed_nanopolish_samples_all.tsv"
index_fn = "./output/collapsed_nanopolish_samples_all.tsv.idx"

Eventalign_collapse (input_fn=input_fn, output_fn=output_fn, verbose=True, threads=6, write_samples=True)

print ("\nCollapsed eventalign file")
! head {output_fn} -n 10

print ("\nIndex file")
! head {index_fn} -n 10

Collapse file by read_id/ref_id
21 reads [00:00,  6.20 reads/s]
[Eventalign_collapse] total reads: 21 [28.92 reads/s]

Collapsed eventalign file
#1	YCR030C
ref_pos	ref_kmer	n_events	NNNNN_events	mismatching_events	mean	median	n_signals	samples
1578	CCACC	1	0	0	70.063416	70.6773	11	70.6773,72.1454,71.4114,63.6306,69.2093,69.2093,67.3008,72.5858,69.9433,72.8794,71.705
1579	CACCC	15	0	0	74.59469	75.0815	294	75.0815,75.8156,79.6326,78.0177,75.3752,77.2837,78.0177,72.2922,76.99,74.7879,75.3752,75.522,75.6688,73.3199,74.9347,77.5773,73.7603,74.3475,72.7326,75.522,77.2837,75.2284,76.6964,78.4581,78.4581,79.7794,76.5496,76.8432,70.2369,70.2369,81.1006,77.8709,74.9347,72.439,75.8156,77.5773,75.9624,77.4305,76.1092,77.2837,64.5114,74.4943,78.4581,77.4305,76.8432,75.0815,76.1092,78.3113,76.5496,75.6688,76.5496,77.4305,78.6049,76.4028,75.8156,77.1368,71.8518,76.4028,75.8156,75.9624,74.9347,78.3113,72.2922,75.6688,75.0815,75.522,75.9624,70.6773,69.9433,69.2093,68.3284,69.3561,69.2093,69.7965,67.888,68.9157,68.622,69.0625,69.7965,73.173,76.1092,74.7879,75.2284,78.3113,76.256,78.3113,77.7241,72.7326,73.6135,78.6049,75.522,75.8156,74.0539,67.3008,72.439,72.2922,67.0072,74.6411,76.1092,75.8156,73.3199,77.2837,70.3837,73.4667,74.7879,76.6964,79.1921,73.3199,76.6964,76.4028,71.1178,76.1092,79.7794,77.7241,77.1368,74.3475,78.6049,78.8985,77.2837,77.7241,70.0901,79.0453,76.1092,73.6135,78.1645,79.0453,75.8156,79.3389,79.0453,77.1368,78.1645,78.3113,77.8709,79.4858,75.8156,76.4028,77.2837,77.4305,79.6326,77.4305,81.8347,76.5496,76.5496,78.8985,74.7879,77.2837,80.2198,75.6688,78.1645,76.99,79.3389,79.0453,71.5582,78.6049,79.7794,78.3113,78.1645,75.3752,76.8432,80.073,78.3113,80.2198,80.073,80.9538,77.5773,77.8709,75.6688,80.807,77.8709,78.0177,79.3389,80.2198,80.2198,76.1092,77.8709,76.5496,76.6964,77.8709,77.1368,75.9624,76.99,72.2922,71.8518,73.9071,68.9157,70.0901,71.8518,75.3752,73.9071,72.1454,73.6135,74.4943,73.173,75.9624,75.0815,74.6411,75.0815,75.2284,74.4943,75.522,76.6964,72.7326,73.7603,74.9347,75.522,74.0539,71.2646,70.3837,72.439,75.522,75.9624,71.705,72.2922,70.8241,71.1178,70.971,74.7879,75.6688,74.6411,72.1454,73.0262,71.4114,73.9071,74.2007,75.0815,74.4943,72.1454,72.8794,72.1454,69.6497,71.5582,72.439,70.6773,69.7965,68.4752,68.7689,73.6135,73.7603,72.2922,71.4114,69.2093,70.2369,73.3199,72.439,71.5582,67.4476,72.8794,72.2922,72.5858,72.439,73.9071,69.6497,72.2922,73.6135,74.4943,73.0262,70.0901,72.439,71.8518,72.1454,71.9986,70.2369,74.0539,70.971,72.1454,71.2646,71.8518,71.1178,71.5582,70.971,69.2093,70.8241,71.4114,71.2646,72.1454,70.5305,69.6497,70.6773,69.9433,72.8794,67.5944,66.7135,70.5305,69.7965,68.622,73.4667,73.7603,76.1092,77.1368,74.3475,75.8156,74.7879,76.8432,75.8156
1580	ACCCT	1	0	0	67.237854	67.888	7	64.9519,65.6859,67.888,68.1816,68.1816,65.6859,70.0901
1581	CCCTC	1	0	0	72.0615	72.5858	7	70.3837,72.5858,70.6773,71.4114,73.0262,73.6135,72.7326
1582	CCTCA	5	0	0	73.5635	73.7603	47	75.522,77.8709,75.2284,74.3475,75.9624,76.6964,72.1454,71.1178,71.1178,72.439,76.256,74.0539,73.0262,73.4667,70.6773,71.5582,69.7965,71.1178,68.3284,70.6773,73.6135,69.6497,67.4476,73.7603,74.3475,72.8794,74.0539,73.3199,74.4943,75.522,72.8794,72.5858,71.2646,73.4667,74.3475,74.4943,74.9347,71.9986,72.2922,76.8432,74.9347,76.5496,75.6688,75.2284,75.0815,76.6964,77.7241
1583	CTCAA	1	0	0	77.589485	78.164505	12	74.3475,75.0815,78.3113,78.8985,77.8709,78.3113,76.4028,78.0177,77.1368,78.3113,78.8985,79.4858
1584	TCAAG	1	0	0	83.52072	84.0368	33	88.441,79.9262,81.6879,81.9815,85.0644,86.9729,84.624,81.1006,76.99,79.0453,79.9262,84.0368,92.1112,83.0091,84.1836,80.807,84.0368,85.7985,87.2665,85.6516,83.0091,87.7069,81.2474,84.0368,79.1921,79.6326,87.2665,83.4495,84.0368,83.7432,80.807,84.624,84.7708
1585	CAAGG	1	0	0	105.23971	104.296	7	113.251,102.534,104.296,103.415,106.498,101.36,105.324

Index file
ref_id	ref_start	ref_end	read_id	kmers	NNNNN_kmers	mismatching_kmers	missing_kmers	byte_offset	byte_len
YCR030C	1578	2576	1	971	23	0	27	0	309526
YGR240C	1656	2960	0	1250	35	0	54	309527	374944
YHR174W	0	839	2	825	15	0	14	684472	260313
YLR441C	173	764	5	554	20	0	37	944786	152535
YHR174W	218	1309	3	1028	36	0	63	1097322	301088
YDR500C	9	252	8	231	7	0	14	1398411	77907
YHR174W	462	1309	4	818	18	0	29	1476319	286210
YDR224C	0	389	9	376	8	0	13	1762530	115588
YGR192C	1	989	6	927	37	0	61	1878119	312418

#### Using the index to random access a specific entry in the file

In [9]:
output_fn = "./output/collapsed_nanopolish_samples.tsv"
index_fn = "./output/collapsed_nanopolish_samples.tsv.idx"

# Import the index in a pandas dataframe (because it is simple)
import pandas as pd 
index_df = pd.read_table (index_fn)

# Select random lines
random_lines = index_df.sample(5)
print ("Random index lines")
display (random_lines)

# Open the collapsed event align file
with open (output_fn) as fp:
    for id, read in random_lines.iterrows():
        
        # Access the header corresponding to the randomly selected index line using seek 
        fp.seek(0) # Return to file start
        fp.seek(read.byte_offset) # Move to the offset indicated in the index file
        print (fp.readline().rstrip()) # Print read header
        df = pd.read_table (fp, nrows=read.kmers) # Read lines corresponding to the read
        with pd.option_context("display.max_rows",4): # display first and last lines
            display(df)

Random index lines

,ref_id,ref_start,ref_end,read_id,kmers,NNNNN_kmers,mismatching_kmers,missing_kmers,byte_offset,byte_len
18,YMR116C,180,950,16,740,20,0,30,660578,41675
5,YHR174W,462,1309,4,818,18,0,29,263001,46483
4,YLR441C,173,764,5,554,20,0,37,231638,31362
20,YOL139C,0,638,20,617,15,0,21,741365,34598
10,YGR192C,3,995,7,946,31,0,50,414274,53215

#16	YMR116C

,ref_pos,ref_kmer,n_events,NNNNN_events,mismatching_events,mean,std,median,mad,n_signals
0,180,TTCAA,3,0,0,75.26566,3.367346,74.922800,2.120995,193
1,181,TCAAG,1,0,0,77.17734,2.464255,77.397300,1.484699,18
...,...,...,...,...,...,...,...,...,...,...
738,948,ACTGC,7,4,0,97.11315,11.467521,101.223495,12.372505,118
739,949,CTGCT,1,0,0,107.28474,4.256286,105.748000,2.121002,15

#4	YHR174W

,ref_pos,ref_kmer,n_events,NNNNN_events,mismatching_events,mean,std,median,mad,n_signals
0,462,TTGAA,2,0,0,109.441040,4.321321,110.7380,3.350002,24
1,463,TGAAC,1,0,0,125.106384,9.260922,127.6275,4.676498,16
...,...,...,...,...,...,...,...,...,...,...
816,1307,GTTGT,5,0,0,84.352264,2.085414,84.2869,1.256302,79
817,1308,TTGTA,14,0,0,93.088670,7.634180,91.1265,3.210403,209

#5	YLR441C

,ref_pos,ref_kmer,n_events,NNNNN_events,mismatching_events,mean,std,median,mad,n_signals
0,173,AGATG,4,0,0,131.99776,8.953995,134.4680,5.272995,80
1,174,GATGC,1,0,0,75.09377,3.819872,74.2486,2.497498,11
...,...,...,...,...,...,...,...,...,...,...
552,762,GTGTA,7,0,0,93.32534,8.111859,92.9804,4.578796,109
553,763,TGTAA,4,0,0,104.72426,3.458026,104.7740,2.082001,47

#20	YOL139C

,ref_pos,ref_kmer,n_events,NNNNN_events,mismatching_events,mean,std,median,mad,n_signals
0,0,ATGTC,1,0,0,90.352520,2.778766,89.7893,1.612602,19
1,1,TGTCC,3,0,0,101.823364,11.103065,104.0090,7.769997,45
...,...,...,...,...,...,...,...,...,...,...
615,636,TTGTA,6,0,0,101.537820,9.207060,103.2760,6.597000,85
616,637,TGTAA,3,0,0,121.393420,11.010363,123.4335,9.968998,60

#7	YGR192C

,ref_pos,ref_kmer,n_events,NNNNN_events,mismatching_events,mean,std,median,mad,n_signals
0,3,GTTAG,1,0,0,82.788704,2.058451,83.22210,1.155601,17
1,4,TTAGA,1,0,0,100.523680,3.785173,99.68975,1.661201,22
...,...,...,...,...,...,...,...,...,...,...
944,989,CAAGG,7,1,0,102.884530,6.507542,101.42300,3.466698,172
945,994,CTTAA,1,0,0,98.905594,9.529233,94.20050,6.211502,7