# Eventalign_collapse usage

## Bash command line usage

#### From an existing nanopolish eventalign output to a file

In [10]:
%%bash
source ~/.bashrc && workon Nanopolish_0.10.1

NanopolishComp Eventalign_collapse -i ./data/nanopolish_reads.tsv -o ./output/nanopolish_collapsed_reads.tsv
head ./output/nanopolish_collapsed_reads.tsv
head ./output/nanopolish_collapsed_reads.tsv.idx

#0	YGR240C
ref_pos	ref_kmer	n_events	NNNNN_events	mismatching_events
1656	GAAAA	1	0	0
1657	AAAAC	1	0	0
1658	AAACA	1	0	0
1659	AACAA	1	0	0
1660	ACAAA	1	0	0
1661	CAAAG	1	0	0
1662	AAAGA	1	0	0
1663	AAGAT	1	0	0
ref_id	ref_start	ref_end	read_id	kmers	NNNNN_kmers	mismatching_kmers	missing_kmers	byte_offset	byte_len
YGR240C	1656	2960	0	1250	35	0	54	0	21325
YCR030C	1578	2576	1	971	23	0	27	21326	16579
YHR174W	0	839	2	825	15	0	14	37906	13169
YHR174W	218	1309	3	1028	36	0	63	51076	16818
YHR174W	462	1309	4	818	18	0	29	67895	13465
YLR441C	173	764	5	554	20	0	37	81361	8932
YGR192C	1	989	6	927	37	0	61	90294	14810
YDR500C	9	252	8	231	7	0	14	105105	3679
YDR224C	0	389	9	376	8	0	13	108785	5983

[Eventalign_collapse] total reads: 21 [161.57 reads/s]

#### From standard input to a file

In [11]:
%%bash
source ~/.bashrc && workon Nanopolish_0.10.1

cat ./data/nanopolish_reads_index.tsv | NanopolishComp Eventalign_collapse -o ./output/nanopolish_collapsed_reads.tsv --verbose
head ./output/nanopolish_collapsed_reads.tsv
head ./output/nanopolish_collapsed_reads.tsv.idx

#0	YGR240C
ref_pos	ref_kmer	n_events	NNNNN_events	mismatching_events	start_idx	end_idx
1656	GAAAA	1	0	0	63446	63454
1657	AAAAC	1	0	0	63423	63446
1658	AAACA	1	0	0	63411	63423
1659	AACAA	1	0	0	63398	63411
1660	ACAAA	1	0	0	63383	63398
1661	CAAAG	1	0	0	63366	63383
1662	AAAGA	1	0	0	63337	63366
1663	AAGAT	1	0	0	63328	63337
ref_id	ref_start	ref_end	read_id	kmers	NNNNN_kmers	mismatching_kmers	missing_kmers	byte_offset	byte_len
YGR240C	1656	2960	0	1250	35	0	54	0	36343
YHR174W	0	839	2	825	15	0	14	36344	22533
YCR030C	1578	2576	1	971	23	0	27	58878	28249
YHR174W	462	1309	4	818	18	0	29	87128	23299
YHR174W	218	1309	3	1028	36	0	63	110428	29172
YLR441C	173	764	5	554	20	0	37	139601	15598
YGR192C	3	995	7	946	31	0	50	155200	26485
YGR192C	1	989	6	927	37	0	61	181686	25951
YDR500C	9	252	8	231	7	0	14	207638	6469

Collapse file by read_id/ref_id
21 reads [00:00, 127.54 reads/s]
[Eventalign_collapse] total reads: 21 [125.69 reads/s]

#### On the fly, from nanopolish eventalign to a file

In [12]:
%%bash
source ~/.bashrc && workon Nanopolish_0.10.1

nanopolish eventalign -t 4 --samples --scale-events --print-read-name --reads ./data/reads.fastq --bam ./data/aligned_reads.bam --genome ./data/reference.fa | NanopolishComp Eventalign_collapse  -o ./output/nanopolish_collapsed_reads.tsv
head ./output/nanopolish_collapsed_reads.tsv
head ./output/nanopolish_collapsed_reads.tsv.idx

#3784283c-47cc-48ac-8d7b-7efd32123b56	YHR174W
ref_pos	ref_kmer	n_events	NNNNN_events	mismatching_events	mean	std	median	mad	n_signals
0	ATGGC	1	0	0	86.3893051147461	3.8192403316497803	85.67970275878906	2.618194580078125	33
1	TGGCT	4	0	0	104.78181457519531	6.572873592376709	106.18900299072266	3.9269943237304688	98
2	GGCTG	1	0	0	96.55765533447266	6.874111652374268	97.75244903564453	5.382049560546875	14
3	GCTGT	5	0	0	81.69342803955078	5.14208984375	80.29779815673828	1.5273017883300781	116
4	CTGTC	1	0	0	102.4487075805664	1.5290673971176147	103.57099914550781	0.2910003662109375	7
5	TGTCT	4	0	0	107.04158020019531	5.813553810119629	107.64350128173828	2.5454978942871094	58
6	GTCTC	2	0	0	76.83718872070312	2.1963260173797607	76.87960052490234	1.1636505126953125	24
7	TCTCT	1	0	0	80.0484619140625	1.0306347608566284	80.00689697265625	0.727294921875	7
ref_id	ref_start	ref_end	read_id	kmers	NNNNN_kmers	mismatching_kmers	missing_kmers	byte_offset	byte_len
YHR174W	0	839	3784283c-47cc-48ac-8d7b-7efd32123b56	825	15	0	14	0	75969
YHR174W	218	1309	3e81c32a-f2ee-4719-a88d-e0affe93d26f	1028	36	0	63	75970	95001
YCR030C	1578	2576	9a1c5296-2ab1-4abd-8d50-e059754cf332	971	23	0	27	170972	90455
YGR240C	1656	2960	97205d42-93ac-4c99-af78-e553f7d1ff83	1250	35	0	54	261428	116600
YLR441C	173	764	6af04302-04c8-4d8d-8e87-aa69178b3f24	554	20	0	37	378029	51182
YHR174W	462	1309	0ef36fa0-7c3f-47f5-8410-027f50724701	818	18	0	29	429212	75811
YDR500C	9	252	e6a8e4d0-7b3c-471a-be26-fa7857d12663	231	7	0	14	505024	21352
YGR192C	1	989	4e21bf07-e2df-42d8-b347-59ef2c0618ea	927	37	0	61	526377	85345
YIL117C	27	953	68804104-71dc-465c-b82d-3a99a4689701	889	23	0	37	611723	82012

[post-run summary] total reads: 21, unparseable: 0, qc fail: 0, could not calibrate: 0, no alignment: 0, bad fast5: 0
[Eventalign_collapse] total reads: 21 [11.14 reads/s]

## Python API usage

#### Import the package

In [13]:
from NanopolishComp.Eventalign_collapse import Eventalign_collapse

#### Example with minimal file

In [14]:
input_fn = "./data/nanopolish_reads.tsv"
output_fn = "./output/collapsed_nanopolish.tsv"
index_fn = "./output/collapsed_nanopolish.tsv.idx"

Eventalign_collapse (input_fn=input_fn, output_fn=output_fn, threads=6, verbose=True)

print ("Collapsed eventalign file")
! head {output_fn} -n 10

print ("Index file")
! head {index_fn} -n 10

Collapse file by read_id/ref_id
21 reads [00:00, 119.75 reads/s]
[Eventalign_collapse] total reads: 21 [112.67 reads/s]

Collapsed eventalign file
#0	YGR240C
ref_pos	ref_kmer	n_events	NNNNN_events	mismatching_events
1656	GAAAA	1	0	0
1657	AAAAC	1	0	0
1658	AAACA	1	0	0
1659	AACAA	1	0	0
1660	ACAAA	1	0	0
1661	CAAAG	1	0	0
1662	AAAGA	1	0	0
1663	AAGAT	1	0	0
Index file
ref_id	ref_start	ref_end	read_id	kmers	NNNNN_kmers	mismatching_kmers	missing_kmers	byte_offset	byte_len
YGR240C	1656	2960	0	1250	35	0	54	0	21325
YCR030C	1578	2576	1	971	23	0	27	21326	16579
YHR174W	0	839	2	825	15	0	14	37906	13169
YHR174W	218	1309	3	1028	36	0	63	51076	16818
YHR174W	462	1309	4	818	18	0	29	67895	13465
YLR441C	173	764	5	554	20	0	37	81361	8932
YGR192C	1	989	6	927	37	0	61	90294	14810
YDR500C	9	252	8	231	7	0	14	105105	3679
YDR224C	0	389	9	376	8	0	13	108785	5983

#### Example with indexes

In [15]:
input_fn = "./data/nanopolish_reads_index.tsv"
output_fn = "./output/collapsed_nanopolish_index.tsv"
index_fn = "./output/collapsed_nanopolish_index.tsv.idx"

Eventalign_collapse (input_fn=input_fn, output_fn=output_fn, verbose=True, threads=6)

print ("\nCollapsed eventalign file")
! head {output_fn} -n 10

print ("\nIndex file")
! head {index_fn} -n 10

Collapse file by read_id/ref_id
21 reads [00:00, 131.20 reads/s]
[Eventalign_collapse] total reads: 21 [112.31 reads/s]

Collapsed eventalign file
#0	YGR240C
ref_pos	ref_kmer	n_events	NNNNN_events	mismatching_events	start_idx	end_idx
1656	GAAAA	1	0	0	63446	63454
1657	AAAAC	1	0	0	63423	63446
1658	AAACA	1	0	0	63411	63423
1659	AACAA	1	0	0	63398	63411
1660	ACAAA	1	0	0	63383	63398
1661	CAAAG	1	0	0	63366	63383
1662	AAAGA	1	0	0	63337	63366
1663	AAGAT	1	0	0	63328	63337

Index file
ref_id	ref_start	ref_end	read_id	kmers	NNNNN_kmers	mismatching_kmers	missing_kmers	byte_offset	byte_len
YGR240C	1656	2960	0	1250	35	0	54	0	36343
YCR030C	1578	2576	1	971	23	0	27	36344	28249
YHR174W	0	839	2	825	15	0	14	64594	22533
YHR174W	462	1309	4	818	18	0	29	87128	23299
YHR174W	218	1309	3	1028	36	0	63	110428	29172
YLR441C	173	764	5	554	20	0	37	139601	15598
YGR192C	1	989	6	927	37	0	61	155200	25951
YGR192C	3	995	7	946	31	0	50	181152	26485
YDR500C	9	252	8	231	7	0	14	207638	6469

#### Example including samples

In [19]:
input_fn = "./data/nanopolish_reads_samples.tsv"
output_fn = "./output/collapsed_nanopolish_samples.tsv"
index_fn = "./output/collapsed_nanopolish_samples.tsv.idx"

Eventalign_collapse (input_fn=input_fn, output_fn=output_fn, verbose=True, threads=6)

print ("\nCollapsed eventalign file")
! head {output_fn} -n 10

print ("\nIndex file")
! head {index_fn} -n 10

Collapse file by read_id/ref_id
21 reads [00:01, 17.77 reads/s]
[Eventalign_collapse] total reads: 21 [17.53 reads/s]

Collapsed eventalign file
#2	YHR174W
ref_pos	ref_kmer	n_events	NNNNN_events	mismatching_events	mean	std	median	mad	n_signals
0	ATGGC	1	0	0	86.3893051147461	3.8192403316497803	85.67970275878906	2.618194580078125	33
1	TGGCT	4	0	0	104.78181457519531	6.572873592376709	106.18900299072266	3.9269943237304688	98
2	GGCTG	1	0	0	96.55765533447266	6.874111652374268	97.75244903564453	5.382049560546875	14
3	GCTGT	5	0	0	81.69342803955078	5.14208984375	80.29779815673828	1.5273017883300781	116
4	CTGTC	1	0	0	102.4487075805664	1.5290673971176147	103.57099914550781	0.2910003662109375	7
5	TGTCT	4	0	0	107.04158020019531	5.813553810119629	107.64350128173828	2.5454978942871094	58
6	GTCTC	2	0	0	76.83718872070312	2.1963260173797607	76.87960052490234	1.1636505126953125	24
7	TCTCT	1	0	0	80.0484619140625	1.0306347608566284	80.00689697265625	0.727294921875	7

Index file
ref_id	ref_start	ref_end	read_id	kmers	NNNNN_kmers	mismatching_kmers	missing_kmers	byte_offset	byte_len
YHR174W	0	839	2	825	15	0	14	0	75934
YCR030C	1578	2576	1	971	23	0	27	75935	90420
YHR174W	218	1309	3	1028	36	0	63	166356	94966
YGR240C	1656	2960	0	1250	35	0	54	261323	116565
YLR441C	173	764	5	554	20	0	37	377889	51147
YGR192C	1	989	6	927	37	0	61	429037	85310
YDR500C	9	252	8	231	7	0	14	514348	21317
YHR174W	462	1309	4	818	18	0	29	535666	75776
YGR192C	3	995	7	946	31	0	50	611443	87075

#### Example including samples and writing samples values in ouput file

In [20]:
input_fn = "./data/nanopolish_reads_samples.tsv"
output_fn = "./output/collapsed_nanopolish_samples_all.tsv"
index_fn = "./output/collapsed_nanopolish_samples_all.tsv.idx"

Eventalign_collapse (input_fn=input_fn, output_fn=output_fn, verbose=True, threads=6, write_samples=True)

print ("\nCollapsed eventalign file")
! head {output_fn} -n 10

print ("\nIndex file")
! head {index_fn} -n 10

Collapse file by read_id/ref_id
21 reads [00:01,  5.60 reads/s]
[Eventalign_collapse] total reads: 21 [14.53 reads/s]

Collapsed eventalign file
#2	YHR174W
ref_pos	ref_kmer	n_events	NNNNN_events	mismatching_events	mean	std	median	mad	n_signals	samples
0	ATGGC	1	0	0	86.3893051147461	3.8192403316497803	85.67970275878906	2.618194580078125	33	96.4434,93.5342,94.5524,87.1342,85.6797,86.6978,85.0978,91.0615,89.316,84.0797,82.916,82.3342,89.316,84.3706,84.3706,85.8251,81.4615,83.0615,85.9706,85.0978,80.7342,82.4796,93.0979,88.0069,82.916,85.3887,84.0797,86.5524,84.3706,82.3342,88.2979,88.2979,85.9706
1	TGGCT	4	0	0	104.78181457519531	6.572873592376709	106.18900299072266	3.9269943237304688	98	104.007,96.1524,106.189,99.0615,108.371,102.407,107.498,100.662,113.462,106.189,111.28,111.28,112.298,102.989,101.971,109.68,106.916,109.243,106.916,103.28,101.825,110.553,112.443,105.898,101.098,99.0615,105.462,102.843,100.516,107.643,109.098,107.789,113.316,109.098,110.116,108.807,106.916,112.443,114.916,110.843,109.098,111.716,103.862,110.262,109.098,105.171,109.68,108.807,112.589,111.425,123.498,110.116,108.371,110.843,111.134,110.843,96.007,94.5524,97.8979,90.6251,94.9888,97.0252,93.9706,104.589,109.971,106.48,108.807,101.389,103.716,96.8797,89.7524,97.4615,98.0434,86.8433,104.443,103.716,102.407,107.207,102.989,93.6797,103.571,104.007,100.08,103.862,109.68,106.625,101.534,97.3161,103.571,97.607,88.7342,109.534,106.771,113.025,108.807,93.2433,108.952,91.207
2	GGCTG	1	0	0	96.55765533447266	6.874111652374268	97.75244903564453	5.382049560546875	14	105.752,98.9161,98.7706,96.7343,95.5706,100.08,105.607,96.4434,88.5888,101.68,85.6797,104.589,88.1524,85.2433
3	GCTGT	5	0	0	81.69342803955078	5.14208984375	80.29779815673828	1.5273017883300781	116	94.1161,90.6251,93.2433,81.316,105.316,87.716,95.7161,90.3342,98.0434,86.116,87.716,107.789,96.2979,83.4978,84.2251,83.3524,79.5705,80.8796,79.1342,78.116,80.4433,80.5887,79.4251,79.2796,81.6069,77.9705,81.6069,81.7524,81.4615,80.4433,86.9888,79.5705,81.316,77.5342,82.6251,77.9705,82.1887,77.6796,80.7342,83.6433,77.9705,78.4069,80.0069,80.1524,80.4433,80.7342,80.2978,84.9524,78.5524,81.316,80.2978,82.1887,81.6069,77.6796,81.0251,78.4069,79.4251,80.4433,79.8615,82.1887,79.8615,80.0069,78.6978,80.7342,80.5887,78.5524,78.8433,79.4251,82.6251,80.0069,77.5342,80.0069,77.5342,83.7887,84.0797,83.0615,82.1887,81.6069,80.8796,81.316,80.0069,78.9887,82.7706,84.516,81.4615,80.5887,79.2796,78.9887,78.4069,80.5887,80.2978,83.7887,78.4069,78.116,79.5705,78.5524,79.4251,79.2796,81.0251,78.8433,78.9887,78.5524,80.1524,77.9705,78.2614,80.8796,78.4069,79.2796,78.2614,79.716,77.6796,79.4251,77.6796,78.6978,77.3887,76.9523
4	CTGTC	1	0	0	102.4487075805664	1.5290673971176147	103.57099914550781	0.2910003662109375	7	103.571,103.716,103.862,101.243,100.371,103.862,100.516
5	TGTCT	4	0	0	107.04158020019531	5.813553810119629	107.64350128173828	2.5454978942871094	58	113.462,109.534,107.789,112.298,110.116,112.153,109.243,111.862,107.352,112.88,103.716,102.262,103.571,101.971,104.007,104.152,99.6434,104.88,109.971,109.825,114.625,105.898,107.062,88.7342,105.462,112.589,108.516,114.771,106.916,111.716,110.116,106.334,108.08,107.207,110.262,110.116,105.898,109.825,108.08,106.771,107.207,108.08,107.498,114.48,116.807,107.062,109.68,105.607,110.407,110.553,106.189,105.025,109.389,104.88,86.6978,103.425,88.2979,97.4615
6	GTCTC	2	0	0	76.83718872070312	2.1963260173797607	76.87960052490234	1.1636505126953125	24	78.5524,75.6432,75.7887,79.4251,82.3342,77.3887,79.4251,77.8251,76.9523,78.4069,76.9523,77.8251,76.6614,78.9887,76.6614,76.8069,75.7887,71.8614,74.7705,74.6251,77.3887,76.8069,74.3341,72.8796
7	TCTCT	1	0	0	80.0484619140625	1.0306347608566284	80.00689697265625	0.727294921875	7	78.6978,79.2796,79.2796,80.0069,81.4615,81.6069,80.0069

Index file
ref_id	ref_start	ref_end	read_id	kmers	NNNNN_kmers	mismatching_kmers	missing_kmers	byte_offset	byte_len
YHR174W	0	839	2	825	15	0	14	0	305963
YCR030C	1578	2576	1	971	23	0	27	305964	363199
YHR174W	218	1309	3	1028	36	0	63	669164	358141
YGR240C	1656	2960	0	1250	35	0	54	1027306	444306
YLR441C	173	764	5	554	20	0	37	1471613	183163
YDR500C	9	252	8	231	7	0	14	1654777	90747
YHR174W	462	1309	4	818	18	0	29	1745525	331402
YDR224C	0	389	9	376	8	0	13	2076928	136308
YDL145C	3232	3576	11	323	12	0	21	2213237	165259

#### Using the index to random access a specific entry in the file

In [21]:
output_fn = "./output/collapsed_nanopolish_samples.tsv"
index_fn = "./output/collapsed_nanopolish_samples.tsv.idx"

# Import the index in a pandas dataframe (because it is simple)
import pandas as pd 
index_df = pd.read_table (index_fn)

# Select random lines
random_lines = index_df.sample(5)
print ("Random index lines")
display (random_lines)

# Open the collapsed event align file
with open (output_fn) as fp:
    for id, read in random_lines.iterrows():
        
        # Access the header corresponding to the randomly selected index line using seek 
        fp.seek(0) # Return to file start
        fp.seek(read.byte_offset) # Move tho the offset indicated in the index file
        print (fp.readline().rstrip()) # Print read header
        df = pd.read_table (fp, nrows=read.kmers) # Read lines corresponding to the read
        with pd.option_context("display.max_rows",4): # display first and last lines
            display(df)

Random index lines

,ref_id,ref_start,ref_end,read_id,kmers,NNNNN_kmers,mismatching_kmers,missing_kmers,byte_offset,byte_len
3,YGR240C,1656,2960,0,1250,35,0,54,261323,116565
10,YDL145C,3232,3576,11,323,12,0,21,733037,30161
5,YGR192C,1,989,6,927,37,0,61,429037,85310
1,YCR030C,1578,2576,1,971,23,0,27,75935,90420
8,YGR192C,3,995,7,946,31,0,50,611443,87075

#0	YGR240C

,ref_pos,ref_kmer,n_events,NNNNN_events,mismatching_events,mean,std,median,mad,n_signals
0,1656,GAAAA,1,0,0,105.497749,1.198813,105.480003,0.852997,8
1,1657,AAAAC,1,0,0,111.092743,1.667485,111.025002,0.995003,23
...,...,...,...,...,...,...,...,...,...,...
1248,2958,AAATG,2,0,0,108.238159,9.100697,107.897003,6.398003,55
1249,2959,AATGA,1,0,0,84.509178,3.165896,84.367004,1.919350,10

#11	YDL145C

,ref_pos,ref_kmer,n_events,NNNNN_events,mismatching_events,mean,std,median,mad,n_signals
0,3232,CCCCA,1,0,0,67.217834,1.898893,67.199554,1.097202,16
1,3233,CCCAA,1,0,0,80.539490,2.236158,81.170349,1.901798,16
...,...,...,...,...,...,...,...,...,...,...
321,3574,CACCT,6,3,0,90.383423,14.472500,90.167297,14.482895,134
322,3575,ACCTG,1,0,0,89.301727,3.195853,90.971901,1.243500,12

#6	YGR192C

,ref_pos,ref_kmer,n_events,NNNNN_events,mismatching_events,mean,std,median,mad,n_signals
0,1,TGGTT,1,0,0,121.652458,3.768495,121.652496,2.450497,44
1,2,GGTTA,1,0,0,107.041557,6.442137,107.959000,6.053001,19
...,...,...,...,...,...,...,...,...,...,...
925,987,GCCAA,2,0,0,69.626373,1.819091,69.547104,1.153103,60
926,988,CCAAG,5,3,0,111.930679,12.997627,112.716003,4.973003,78

#1	YCR030C

,ref_pos,ref_kmer,n_events,NNNNN_events,mismatching_events,mean,std,median,mad,n_signals
0,1578,CCACC,1,0,0,70.063416,2.593738,70.677299,1.468002,11
1,1579,CACCC,15,0,0,74.594688,3.270260,75.081497,2.495804,294
...,...,...,...,...,...,...,...,...,...,...
969,2574,AGAAC,2,0,0,137.112579,5.854877,138.354996,3.083008,43
970,2575,GAACT,8,4,0,89.164696,10.459612,86.165497,8.441399,128

#7	YGR192C

,ref_pos,ref_kmer,n_events,NNNNN_events,mismatching_events,mean,std,median,mad,n_signals
0,3,GTTAG,1,0,0,82.788704,2.058451,83.222099,1.155602,17
1,4,TTAGA,1,0,0,100.523682,3.785173,99.689751,1.661201,22
...,...,...,...,...,...,...,...,...,...,...
944,989,CAAGG,7,1,0,102.884529,6.507542,101.422997,3.466698,172
945,994,CTTAA,1,0,0,98.905594,9.529233,94.200500,6.211502,7