# Eventalign_collapse usage

## Bash command line usage

In [21]:
%%bash
source ~/.bashrc && workon Nanopolish_0.10.1
# To add in cells for bash in Jupyter

#### From an existing nanopolish eventalign output to a file

In [25]:
NanopolishComp Eventalign_collapse -i ./data/nanopolish_reads.tsv -o ./output/nanopolish_collapsed_reads.tsv
head ./output/nanopolish_collapsed_reads.tsv
head ./output/nanopolish_collapsed_reads.tsv.idx

#0	YGR240C
ref_pos	ref_kmer	n_events	NNNNN_events	mismatching_events
1656	GAAAA	1	0	0
1657	AAAAC	1	0	0
1658	AAACA	1	0	0
1659	AACAA	1	0	0
1660	ACAAA	1	0	0
1661	CAAAG	1	0	0
1662	AAAGA	1	0	0
1663	AAGAT	1	0	0
ref_id	ref_start	ref_end	read_id	kmers	NNNNN_kmers	mismatching_kmers	missing_kmers	offset
YGR240C	1656	2960	0	1250	35	0	54	0
YCR030C	1578	2576	1	971	23	0	27	21326
YHR174W	0	839	2	825	15	0	14	37906
YHR174W	218	1309	3	1028	36	0	63	51076
YLR441C	173	764	5	554	20	0	37	67895
YHR174W	462	1309	4	818	18	0	29	76828
YGR192C	1	989	6	927	37	0	61	90294
YDR500C	9	252	8	231	7	0	14	105105
YGR192C	3	995	7	946	31	0	50	108785

[Eventalign_collapse] total reads: 21 [55.35 reads/s]

#### From standard input to a file

In [26]:
%%bash
source ~/.bashrc && workon Nanopolish_0.10.1
cat ./data/nanopolish_reads_index.tsv | NanopolishComp Eventalign_collapse -o ./output/nanopolish_collapsed_reads.tsv --verbose
head ./output/nanopolish_collapsed_reads.tsv
head ./output/nanopolish_collapsed_reads.tsv.idx

#0	YGR240C
ref_pos	ref_kmer	n_events	NNNNN_events	mismatching_events	start_idx	end_idx
1656	GAAAA	1	0	0	63446	63454
1657	AAAAC	1	0	0	63423	63446
1658	AAACA	1	0	0	63411	63423
1659	AACAA	1	0	0	63398	63411
1660	ACAAA	1	0	0	63383	63398
1661	CAAAG	1	0	0	63366	63383
1662	AAAGA	1	0	0	63337	63366
1663	AAGAT	1	0	0	63328	63337
ref_id	ref_start	ref_end	read_id	kmers	NNNNN_kmers	mismatching_kmers	missing_kmers	offset
YGR240C	1656	2960	0	1250	35	0	54	0
YCR030C	1578	2576	1	971	23	0	27	36344
YHR174W	0	839	2	825	15	0	14	64594
YHR174W	462	1309	4	818	18	0	29	87128
YHR174W	218	1309	3	1028	36	0	63	110428
YLR441C	173	764	5	554	20	0	37	139601
YGR192C	1	989	6	927	37	0	61	155200
YDR500C	9	252	8	231	7	0	14	181152
YGR192C	3	995	7	946	31	0	50	187622

Collapse file by read_id/ref_id
21 reads [00:00, 56.11 reads/s]
[Eventalign_collapse] total reads: 21 [54.63 reads/s]

#### On the fly, from nanopolish eventalign to a file

In [29]:
nanopolish eventalign -t 4 --samples --scale-events --print-read-name --reads ./data/reads.fastq --bam ./data/aligned_reads.bam --genome ./data/reference.fa | NanopolishComp Eventalign_collapse  -o ./output/nanopolish_collapsed_reads.tsv
head ./output/nanopolish_collapsed_reads.tsv
head ./output/nanopolish_collapsed_reads.tsv.idx

#3784283c-47cc-48ac-8d7b-7efd32123b56	YHR174W
ref_pos	ref_kmer	n_events	NNNNN_events	mismatching_events	mean	std	n_signals
0	ATGGC	1	0	0	86.3893051147461	3.8192403316497803	33
1	TGGCT	4	0	0	104.78181457519531	6.572873592376709	98
2	GGCTG	1	0	0	96.55765533447266	6.874111652374268	14
3	GCTGT	5	0	0	81.69342803955078	5.14208984375	116
4	CTGTC	1	0	0	102.4487075805664	1.5290673971176147	7
5	TGTCT	4	0	0	107.04158020019531	5.813553810119629	58
6	GTCTC	2	0	0	76.83718872070312	2.1963260173797607	24
7	TCTCT	1	0	0	80.0484619140625	1.0306347608566284	7
ref_id	ref_start	ref_end	read_id	kmers	NNNNN_kmers	mismatching_kmers	missing_kmers	offset
YHR174W	0	839	3784283c-47cc-48ac-8d7b-7efd32123b56	825	15	0	14	0
YHR174W	218	1309	3e81c32a-f2ee-4719-a88d-e0affe93d26f	1028	36	0	63	45733
YCR030C	1578	2576	9a1c5296-2ab1-4abd-8d50-e059754cf332	971	23	0	27	103165
YGR240C	1656	2960	97205d42-93ac-4c99-af78-e553f7d1ff83	1250	35	0	54	158094
YHR174W	462	1309	0ef36fa0-7c3f-47f5-8410-027f50724701	818	18	0	29	228826
YDR500C	9	252	e6a8e4d0-7b3c-471a-be26-fa7857d12663	231	7	0	14	274702
YLR441C	173	764	6af04302-04c8-4d8d-8e87-aa69178b3f24	554	20	0	37	287551
YGR192C	1	989	4e21bf07-e2df-42d8-b347-59ef2c0618ea	927	37	0	61	318409
YGR192C	3	995	2c32553e-62c6-4c7a-bf05-249771364f04	946	31	0	50	369825

[post-run summary] total reads: 21, unparseable: 0, qc fail: 0, could not calibrate: 0, no alignment: 0, bad fast5: 0
[Eventalign_collapse] total reads: 21 [8.07 reads/s]

## Python API usage

#### Import the package

In [1]:
from NanopolishComp.Eventalign_collapse import Eventalign_collapse

#### Example with minimal file

In [2]:
input_fn = "./data/nanopolish_reads.tsv"
output_fn = "./output/collapsed_nanopolish.tsv"
index_fn = "./output/collapsed_nanopolish.tsv.idx"

Eventalign_collapse (input_fn=input_fn, output_fn=output_fn, threads=6, verbose=True)

print ("Collapsed eventalign file")
! head {output_fn} -n 10

print ("Index file")
! head {index_fn} -n 10

Collapse file by read_id/ref_id
21 reads [00:00, 189.68 reads/s]
[Eventalign_collapse] total reads: 21 [179.95 reads/s]

Collapsed eventalign file
#0	YGR240C
ref_pos	ref_kmer	n_events	NNNNN_events	mismatching_events
1656	GAAAA	1	0	0
1657	AAAAC	1	0	0
1658	AAACA	1	0	0
1659	AACAA	1	0	0
1660	ACAAA	1	0	0
1661	CAAAG	1	0	0
1662	AAAGA	1	0	0
1663	AAGAT	1	0	0
Index file
ref_id	ref_start	ref_end	read_id	kmers	NNNNN_kmers	mismatching_kmers	missing_kmers	offset
YGR240C	1656	2960	0	1250	35	0	54	0
YCR030C	1578	2576	1	971	23	0	27	21326
YHR174W	0	839	2	825	15	0	14	37906
YHR174W	218	1309	3	1028	36	0	63	51076
YLR441C	173	764	5	554	20	0	37	67895
YHR174W	462	1309	4	818	18	0	29	76828
YGR192C	1	989	6	927	37	0	61	90294
YDR500C	9	252	8	231	7	0	14	105105
YGR192C	3	995	7	946	31	0	50	108785

#### Example with indexes

In [3]:
input_fn = "./data/nanopolish_reads_index.tsv"
output_fn = "./output/collapsed_nanopolish_index.tsv"
index_fn = "./output/collapsed_nanopolish_index.tsv.idx"

Eventalign_collapse (input_fn=input_fn, output_fn=output_fn, verbose=True, threads=6)

print ("\nCollapsed eventalign file")
! head {output_fn} -n 10

print ("\nIndex file")
! head {index_fn} -n 10

Collapse file by read_id/ref_id
21 reads [00:00, 142.38 reads/s]
[Eventalign_collapse] total reads: 21 [125.28 reads/s]

Collapsed eventalign file
#0	YGR240C
ref_pos	ref_kmer	n_events	NNNNN_events	mismatching_events	start_idx	end_idx
1656	GAAAA	1	0	0	63446	63454
1657	AAAAC	1	0	0	63423	63446
1658	AAACA	1	0	0	63411	63423
1659	AACAA	1	0	0	63398	63411
1660	ACAAA	1	0	0	63383	63398
1661	CAAAG	1	0	0	63366	63383
1662	AAAGA	1	0	0	63337	63366
1663	AAGAT	1	0	0	63328	63337

Index file
ref_id	ref_start	ref_end	read_id	kmers	NNNNN_kmers	mismatching_kmers	missing_kmers	offset
YGR240C	1656	2960	0	1250	35	0	54	0
YCR030C	1578	2576	1	971	23	0	27	36344
YHR174W	0	839	2	825	15	0	14	64594
YHR174W	462	1309	4	818	18	0	29	87128
YLR441C	173	764	5	554	20	0	37	110428
YHR174W	218	1309	3	1028	36	0	63	126027
YDR500C	9	252	8	231	7	0	14	155200
YGR192C	1	989	6	927	37	0	61	161670
YGR192C	3	995	7	946	31	0	50	187622

#### Example including samples

In [4]:
input_fn = "./data/nanopolish_reads_samples.tsv"
output_fn = "./output/collapsed_nanopolish_samples.tsv"
index_fn = "./output/collapsed_nanopolish_samples.tsv.idx"

Eventalign_collapse (input_fn=input_fn, output_fn=output_fn, verbose=True, threads=6)

print ("\nCollapsed eventalign file")
! head {output_fn} -n 10

print ("\nIndex file")
! head {index_fn} -n 10

Collapse file by read_id/ref_id
21 reads [00:00,  9.17 reads/s]
[Eventalign_collapse] total reads: 21 [43.37 reads/s]

Collapsed eventalign file
#1	YCR030C
ref_pos	ref_kmer	n_events	NNNNN_events	mismatching_events	mean	std	n_signals
1578	CCACC	1	0	0	70.06341552734375	2.593737840652466	11
1579	CACCC	15	0	0	74.59468841552734	3.2702603340148926	294
1580	ACCCT	1	0	0	67.23785400390625	1.7063778638839722	7
1581	CCCTC	1	0	0	72.0615005493164	1.1475614309310913	7
1582	CCTCA	5	0	0	73.5634994506836	2.3691813945770264	47
1583	CTCAA	1	0	0	77.58948516845703	1.5072672367095947	12
1584	TCAAG	1	0	0	83.52072143554688	3.1505558490753174	33
1585	CAAGG	1	0	0	105.23970794677734	3.632479667663574	7

Index file
ref_id	ref_start	ref_end	read_id	kmers	NNNNN_kmers	mismatching_kmers	missing_kmers	offset
YCR030C	1578	2576	1	971	23	0	27	0
YGR240C	1656	2960	0	1250	35	0	54	54894
YHR174W	0	839	2	825	15	0	14	125591
YHR174W	218	1309	3	1028	36	0	63	171289
YLR441C	173	764	5	554	20	0	37	228686
YDR500C	9	252	8	231	7	0	14	259509
YHR174W	462	1309	4	818	18	0	29	272323
YGR192C	1	989	6	927	37	0	61	318164
YDR224C	0	389	9	376	8	0	13	369545

#### Example including samples and writing samples values in ouput file

In [5]:
input_fn = "./data/nanopolish_reads_samples.tsv"
output_fn = "./output/collapsed_nanopolish_samples.tsv"
index_fn = "./output/collapsed_nanopolish_samples.tsv.idx"

Eventalign_collapse (input_fn=input_fn, output_fn=output_fn, verbose=True, threads=6, write_samples=True)

print ("\nCollapsed eventalign file")
! head {output_fn} -n 10

print ("\nIndex file")
! head {index_fn} -n 10

Collapse file by read_id/ref_id
21 reads [00:00, 43.42 reads/s]
[Eventalign_collapse] total reads: 21 [42.73 reads/s]

Collapsed eventalign file
#1	YCR030C
ref_pos	ref_kmer	n_events	NNNNN_events	mismatching_events	mean	std	n_signals	samples
1578	CCACC	1	0	0	70.06341552734375	2.593737840652466	11	70.6773,72.1454,71.4114,63.6306,69.2093,69.2093,67.3008,72.5858,69.9433,72.8794,71.705
1579	CACCC	15	0	0	74.59468841552734	3.2702603340148926	294	75.0815,75.8156,79.6326,78.0177,75.3752,77.2837,78.0177,72.2922,76.99,74.7879,75.3752,75.522,75.6688,73.3199,74.9347,77.5773,73.7603,74.3475,72.7326,75.522,77.2837,75.2284,76.6964,78.4581,78.4581,79.7794,76.5496,76.8432,70.2369,70.2369,81.1006,77.8709,74.9347,72.439,75.8156,77.5773,75.9624,77.4305,76.1092,77.2837,64.5114,74.4943,78.4581,77.4305,76.8432,75.0815,76.1092,78.3113,76.5496,75.6688,76.5496,77.4305,78.6049,76.4028,75.8156,77.1368,71.8518,76.4028,75.8156,75.9624,74.9347,78.3113,72.2922,75.6688,75.0815,75.522,75.9624,70.6773,69.9433,69.2093,68.3284,69.3561,69.2093,69.7965,67.888,68.9157,68.622,69.0625,69.7965,73.173,76.1092,74.7879,75.2284,78.3113,76.256,78.3113,77.7241,72.7326,73.6135,78.6049,75.522,75.8156,74.0539,67.3008,72.439,72.2922,67.0072,74.6411,76.1092,75.8156,73.3199,77.2837,70.3837,73.4667,74.7879,76.6964,79.1921,73.3199,76.6964,76.4028,71.1178,76.1092,79.7794,77.7241,77.1368,74.3475,78.6049,78.8985,77.2837,77.7241,70.0901,79.0453,76.1092,73.6135,78.1645,79.0453,75.8156,79.3389,79.0453,77.1368,78.1645,78.3113,77.8709,79.4858,75.8156,76.4028,77.2837,77.4305,79.6326,77.4305,81.8347,76.5496,76.5496,78.8985,74.7879,77.2837,80.2198,75.6688,78.1645,76.99,79.3389,79.0453,71.5582,78.6049,79.7794,78.3113,78.1645,75.3752,76.8432,80.073,78.3113,80.2198,80.073,80.9538,77.5773,77.8709,75.6688,80.807,77.8709,78.0177,79.3389,80.2198,80.2198,76.1092,77.8709,76.5496,76.6964,77.8709,77.1368,75.9624,76.99,72.2922,71.8518,73.9071,68.9157,70.0901,71.8518,75.3752,73.9071,72.1454,73.6135,74.4943,73.173,75.9624,75.0815,74.6411,75.0815,75.2284,74.4943,75.522,76.6964,72.7326,73.7603,74.9347,75.522,74.0539,71.2646,70.3837,72.439,75.522,75.9624,71.705,72.2922,70.8241,71.1178,70.971,74.7879,75.6688,74.6411,72.1454,73.0262,71.4114,73.9071,74.2007,75.0815,74.4943,72.1454,72.8794,72.1454,69.6497,71.5582,72.439,70.6773,69.7965,68.4752,68.7689,73.6135,73.7603,72.2922,71.4114,69.2093,70.2369,73.3199,72.439,71.5582,67.4476,72.8794,72.2922,72.5858,72.439,73.9071,69.6497,72.2922,73.6135,74.4943,73.0262,70.0901,72.439,71.8518,72.1454,71.9986,70.2369,74.0539,70.971,72.1454,71.2646,71.8518,71.1178,71.5582,70.971,69.2093,70.8241,71.4114,71.2646,72.1454,70.5305,69.6497,70.6773,69.9433,72.8794,67.5944,66.7135,70.5305,69.7965,68.622,73.4667,73.7603,76.1092,77.1368,74.3475,75.8156,74.7879,76.8432,75.8156
1580	ACCCT	1	0	0	67.23785400390625	1.7063778638839722	7	64.9519,65.6859,67.888,68.1816,68.1816,65.6859,70.0901
1581	CCCTC	1	0	0	72.0615005493164	1.1475614309310913	7	70.3837,72.5858,70.6773,71.4114,73.0262,73.6135,72.7326
1582	CCTCA	5	0	0	73.5634994506836	2.3691813945770264	47	75.522,77.8709,75.2284,74.3475,75.9624,76.6964,72.1454,71.1178,71.1178,72.439,76.256,74.0539,73.0262,73.4667,70.6773,71.5582,69.7965,71.1178,68.3284,70.6773,73.6135,69.6497,67.4476,73.7603,74.3475,72.8794,74.0539,73.3199,74.4943,75.522,72.8794,72.5858,71.2646,73.4667,74.3475,74.4943,74.9347,71.9986,72.2922,76.8432,74.9347,76.5496,75.6688,75.2284,75.0815,76.6964,77.7241
1583	CTCAA	1	0	0	77.58948516845703	1.5072672367095947	12	74.3475,75.0815,78.3113,78.8985,77.8709,78.3113,76.4028,78.0177,77.1368,78.3113,78.8985,79.4858
1584	TCAAG	1	0	0	83.52072143554688	3.1505558490753174	33	88.441,79.9262,81.6879,81.9815,85.0644,86.9729,84.624,81.1006,76.99,79.0453,79.9262,84.0368,92.1112,83.0091,84.1836,80.807,84.0368,85.7985,87.2665,85.6516,83.0091,87.7069,81.2474,84.0368,79.1921,79.6326,87.2665,83.4495,84.0368,83.7432,80.807,84.624,84.7708
1585	CAAGG	1	0	0	105.23970794677734	3.632479667663574	7	113.251,102.534,104.296,103.415,106.498,101.36,105.324

Index file
ref_id	ref_start	ref_end	read_id	kmers	NNNNN_kmers	mismatching_kmers	missing_kmers	offset
YCR030C	1578	2576	1	971	23	0	27	0
YGR240C	1656	2960	0	1250	35	0	54	327673
YHR174W	0	839	2	825	15	0	14	726111
YLR441C	173	764	5	554	20	0	37	1001838
YHR174W	218	1309	3	1028	36	0	63	1164677
YHR174W	462	1309	4	818	18	0	29	1485249
YDR500C	9	252	8	231	7	0	14	1786716
YDR224C	0	389	9	376	8	0	13	1868960
YGR192C	1	989	6	927	37	0	61	1991605

#### Using the index to random access a specific entry in the file

In [24]:
output_fn = "./output/collapsed_nanopolish_index.tsv"
index_fn = "./output/collapsed_nanopolish_index.tsv.idx"

# Import the index in a pandas dataframe (because it is simple)
import pandas as pd 
index_df = pd.read_table (index_fn)

# Select random lines
random_lines = index_df.sample(5)
print ("Random index lines")
display (random_lines)

# Open the collapsed event align file
with open (output_fn) as fp:
    for id, read in random_lines.iterrows():
        
        # Access the header corresponding to the randomly selected index line using seek 
        fp.seek(0) # Return to file start
        fp.seek(read.offset) # Move tho the offset indicated in the index file
        print (fp.readline().rstrip()) # Print read header
        df = pd.read_table (fp, nrows=read.kmers) # Read lines corresponding to the read
        with pd.option_context("display.max_rows",4): # display first and last lines
            display(df)

Random index lines

,ref_id,ref_start,ref_end,read_id,kmers,NNNNN_kmers,mismatching_kmers,missing_kmers,offset
14,YDR382W,5,329,14,308,13,0,16,294852
11,YDL145C,3232,3576,11,323,12,0,21,249558
6,YDR500C,9,252,8,231,7,0,14,155200
19,YGL076C,10,731,18,695,21,0,26,351362
10,YIL117C,27,953,10,889,23,0,37,224622

#14	YDR382W

,ref_pos,ref_kmer,n_events,NNNNN_events,mismatching_events,start_idx,end_idx
0,5,ATACT,2,0,0,48813,48858
1,6,TACTT,2,0,0,48794,48813
...,...,...,...,...,...,...,...
306,327,GATTA,2,0,0,27833,27899
307,328,ATTAA,14,2,0,27604,27833

#11	YDL145C

,ref_pos,ref_kmer,n_events,NNNNN_events,mismatching_events,start_idx,end_idx
0,3232,CCCCA,1,0,0,30420,30436
1,3233,CCCAA,1,0,0,30404,30420
...,...,...,...,...,...,...,...
321,3574,CACCT,6,3,0,13336,13470
322,3575,ACCTG,1,0,0,13324,13336

#8	YDR500C

,ref_pos,ref_kmer,n_events,NNNNN_events,mismatching_events,start_idx,end_idx
0,9,GGTAC,2,0,0,22637,22670
1,10,GTACT,1,0,0,22618,22637
...,...,...,...,...,...,...,...
229,248,TAAGG,2,1,0,13899,13946
230,251,GGCTA,1,0,0,13881,13899

#18	YGL076C

,ref_pos,ref_kmer,n_events,NNNNN_events,mismatching_events,start_idx,end_idx
0,10,AAAAA,1,0,0,44620,44641
1,11,AAAAA,1,0,0,44561,44620
...,...,...,...,...,...,...,...
693,729,AACTA,6,0,0,17789,17885
694,730,ACTAA,6,3,0,17660,17789

#10	YIL117C

,ref_pos,ref_kmer,n_events,NNNNN_events,mismatching_events,start_idx,end_idx
0,27,GGCCT,4,1,0,57497,57596
1,31,TTCCA,1,0,0,57485,57497
...,...,...,...,...,...,...,...
887,951,GAGTA,3,1,0,16588,16623
888,952,AGTAA,5,0,0,16510,16588